@model FundRaising.Core.Models.Reward

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Reward</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="createRewardButton" OnClick="PreventDoubleClick()" value="Create" class="btn btn-default" />
            </div>

            <script type="text/javascript">
                var submit = 0;
                function PreventDoubleClick() {
                    if (++submit > 1) {
                        document.getElementById("createRewardButton").disabled = true;
                        return false;
                    }
                }
            </script>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
